/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.graphic {
    padding: 20px 0 !important;
    margin: 0 auto;
    float: none;
    transition: all 0.5s;
}

form select {
    word-wrap: break-word;
    text-overflow: inherit;
    white-space: normal;
}

.margin-5 {
    margin: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.font-14 {
    font-size: 14px;
    font-weight: normal;
}

#chartKOBO {
    background-color: white;
}

.nav {
    margin-bottom: 15px;
}

.padding-boot{
    padding-left: 15px;
    padding-right: 15px;
}

@media print {
  /* Contenido del fichero print.css */
      @page {
      size: A4;
    }
  body {
    font-size: 12pt;
  }
    .graphic {
    display: inline;
    padding: 0 !important;
}

    .printed-graph{
        /*page-break-before: always;*/
        page-break-inside: avoid;
        /*overflow: hidden !important;*/

    }

    .nav-tabs.nav-justified{
        display: none;
    }
}